<div>
  <!--Switch depending on the selection-->

  <!--Number of people who follow a certain religion-->
  <query-number-of-followers *ngIf="query == 'Number of people who follow a religion in a country'"
                             [countries]="countries" [religions]="religions" [years]="years"></query-number-of-followers>
  <query-religion-fewest-countries
    *ngIf="query == 'Religions present in the fewest countries'"
                                   [years]="years"></query-religion-fewest-countries>
</div>

