<div class='btn-toolbar'>

  <div class="btn-group">
    <div class="dropdown" dropdown [dropdownToggle]="true">
      <button class="btn btn-primary" dropdown-open> {{selectedYear}}<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li (click)="onSelectYear(year)" *ngFor="let year of years"><a>{{year}}</a></li>
      </ul>
    </div>
  </div>

  <div class="btn-group">
    <div class="dropdown" dropdown [dropdownToggle]="true">
      <button class="btn btn-primary" dropdown-open> {{selectedIndicatorName}}<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li (click)="onSelectIndicator(indicator)" *ngFor="let indicator of indicators"><a>{{indicator.name}}</a></li>
      </ul>
    </div>
  </div>

  <div class="btn-group">
    <div>
      <button (click)="onSubmit()" type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>

<div *ngIf="displayAlert" class="alert alert-danger alert-dismissible">
  <a class="close" data-dismiss="alert" aria-label="close" (click)="dismissAlert()">×</a>
  <strong>You have not selected all options!</strong>
</div>

<div *ngIf="displayNoData" class="alert alert-danger alert-dismissible">
  <a class="close" data-dismiss="alert" aria-label="close" (click)="dismissNoData()">×</a>
  <strong>No conflict data for this time period</strong>
</div>

<div *ngIf="displayChart">
  <div style="display: block;">
    <canvas style="padding-top: 20px" baseChart width="600" height="600"
            [datasets]="scatterChartData"
            [options]="scatterOptions"
            chartType="scatter">
    </canvas>
  </div>
</div>
