<html>
<head>
  <title>Global Stats</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico?">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class = "container-fluid">
      <div class = "navbar-header">
        <a class="navbar-brand" href="/"> Global Stats</a>
      </div>
      <ul class = "nav navbar-nav">
        <li><a href="/profile" routerLinkActive="active">User Profile</a></li>
        <li><a href="/notes" routerLinkActive="active">Notes</a></li>
        <li><a href="/religions" routerLinkActive="active">Religions</a></li>
        <li><a href="/conflict" routerLinkActive="active">Conflict</a></li>
        <li><a href="/world" routerLinkActive="active">World Bank</a></li>
        <li><a href="/multi" routerLinkActive="active">Multiple Datasets</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron text-center">
      <h1><span class="fa fa-globe"></span> Global Stats</h1>
      <p>Login or Register with:</p>

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
      <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
      <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
    </div>
  </div>
</body>
</html>
