<div *ngIf = "current == 'All Indicators'">
  <p>
    All indicators
  </p>

  <div class="btn-group">
    <div>
      <button (click)="onSubmitAllIndicators()" type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>

  <table class="table table-striped">
    <thead class="thread-light">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of allIndicators">
      <td>{{row.code}}</td>
      <td>{{row.name}}</td>
    </tr>
    </tbody>
  </table>
</div>



<div *ngIf = "current == 'Rest of the queries'">
  <p>
    Rest of the queries what!
  </p>
</div>
