.dropdown-menu{
  max-height: 300px; /*Provide height in pixels or in other units as per your layout*/
  overflow-y: auto; /*Provide an auto overflow to diaply scroll*/
}

.btn {
  margin-right: 5px;
}

.blockquote-footer{
  font-size: small;
}

.table-responsive
{
  overflow-x: auto;
}
