<div>
  <query-num-conflicts-indicator *ngIf="query === 'Number of Conflicts compared to World Bank Indicators'"
                                  [indicators]="indicators"> </query-num-conflicts-indicator>
<query-num-deaths-indicator *ngIf="query === 'Conflict severity compared to World Bank Indicators'"
                                 [indicators]="indicators"> </query-num-deaths-indicator>
  <query-religion-wb *ngIf="query === 'Religion and World Bank'"
                                 [countriesReligion]="countriesReligion"
                     [religions]="religions" [indicators] = "allIndicators"> </query-religion-wb><query-all-db *ngIf="query === 'All Datasets'"></query-all-db>
</div>
