<html>
<head>
    <title>Social Stats</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sticky-note"></span> New Note</h1>
        <form action="/notes" method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
                <label>Content</label>
                <input type="text" class="form-control" name="content">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Create Note</button>
            <a href="/notes/" class="btn btn-default btn-lg">Cancel</a>
        </form>
        <hr>
    </div>
  </div>
</body>
</html>
