<div class='btn-toolbar'>
  <div class="btn-group">
    <div class="dropdown" dropdown [dropdownToggle]="true">
      <button class="btn btn-primary" dropdown-open> {{selectedYear}}<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li (click)="onSelectYear('All years combined')"><a>All years combined</a></li>
        <li (click)="onSelectYear(year)" *ngFor="let year of years"><a>{{year}}</a></li>
      </ul>
    </div>
  </div>

  <div class="btn-group">
    <div class="dropdown" dropdown [dropdownToggle]="true">
      <button class="btn btn-primary" dropdown-open> {{selectedLimit}}<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li (click)="onSelectLimit('All results')"><a>All results</a></li>
        <li (click)="onSelectLimit(limit)" *ngFor="let limit of limits"><a>{{limit}}</a></li>
      </ul>
    </div>
  </div>

  <div class="btn-group">
    <div>
      <button (click)="onSubmit()" type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>

<p class="h5">The religions followed in the fewest countries during <code>{{selectedYear}}</code>:</p>


<table class="table table-striped">
  <thead class="thread-light">
  <tr>
    <th scope="religion">Religion</th>
    <th scope="year">Year</th>
    <th scope="numberOfPeople">Countries that have this religion</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let query of queryResults2">
    <td>{{query.name}}</td>
    <td>{{query.year}}</td>
    <td>{{query.number}}</td>
  </tr>
  </tbody>
</table>
