<div>
  <div>
    //Popoto
    <iframe src="http://ec2-54-145-205-218.compute-1.amazonaws.com:7474 | safe" width="500" height="400"
            id="window"></iframe>
  </div>
  <form>
    <div  *ngIf="editTitle" class="form-group">
      <input type="input" class="form-control" name="title" required placeholder="title"
             [(ngModel)] = "country.name">
    </div>

    <h3 *ngIf="!editTitle" (click)="onNameClick()">{{country.name}}</h3>

    <div class="form-group">
      <input type="input" class="form-control" name="abbrev" required placeholder="abbrev"
             [(ngModel)] = "country.abbrev">
    </div>

    <div class="form-group">
      <textarea class ="form-control" rows="5" name="desc" [(ngModel)] = "country.id">
      </textarea>
    </div>

  </form>
</div>
